In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [47]:
data = pd.read_csv("movies.csv")
data.head()

,Unnamed: 0,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
1,1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
4,5,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday

In [48]:
data = data[[ "budget", "revenue", "popularity", "vote_average", "vote_count"]]
data

         budget     revenue  popularity  vote_average  vote_count
0     237000000  2787965087         150           7.2       11800
1     300000000   961000000         139           6.9        4500
2     245000000   880674609         107           6.3        4466
3     250000000  1084939099         112           7.6        9106
4     258000000   890871626         115           5.9        3576
...         ...         ...         ...           ...         ...
1460          0      321952           3           7.9          64
1461      27000     3151130          19           7.4         755
1462          0           0           7           6.0         131
1463          0           0           3           6.4          77
1464     220000     2040920          14           6.6         238

[1465 rows x 5 columns]

In [49]:
data.isnull().sum()

budget          0
revenue         0
popularity      0
vote_average    0
vote_count      0
dtype: int64

In [50]:
data["status"] = data["revenue"].apply(lambda x: 1 if x > 500000000 else 0)

In [51]:
data

         budget     revenue  popularity  vote_average  vote_count  status
0     237000000  2787965087         150           7.2       11800       1
1     300000000   961000000         139           6.9        4500       1
2     245000000   880674609         107           6.3        4466       1
3     250000000  1084939099         112           7.6        9106       1
4     258000000   890871626         115           5.9        3576       1
...         ...         ...         ...           ...         ...     ...
1460          0      321952           3           7.9          64       0
1461      27000     3151130          19           7.4         755       0
1462          0           0           7           6.0         131       0
1463          0           0           3           6.4          77       0
1464     220000     2040920          14           6.6         238       0

[1465 rows x 6 columns]

In [ ]:
x = data.drop("status", axis=1)
y = data["status"]

In [54]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [55]:
model = KNeighborsClassifier(n_neighbors=5)
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
y_prob = model.predict_proba(x_test)[:, 1]

In [57]:
accu = accuracy_score(y_test, y_pred)
accu

1.0

In [58]:
cm = confusion_matrix(y_test,y_pred)
print(cm)

[[282   0]
 [  0  11]]

In [64]:
new_pass = [[200000000, 5000000, 80.0, 7.5, 10000]]
new_pred = model.predict(new_pass)
new_pred

C:\Users\sujal\AppData\Roaming\Python\Python312\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)